.fs-7{
    font-size: 12px;
  }
  .ms-6{
    margin-top: -2%;
  }
  .bg-red{
    background-color: #db1d24;
  }
  .inp-size{
    width: 450px;
  }
  .bg-blue{
    background-color: #11428e;
  }
  .bg-gray{
    background-color: #f4f5f5;
  }
  .darks{
    width: 240px;
  }